.front {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.front__content {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  .front {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1vw;
  }
  .front__content {
    border: solid 0.1vw black;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1.2vw;
  }
}